{% extends "core/base.html" %}
{% load crispy_forms_filters %}

{% load account %}

{% block content %}
  <div class="content card mx-auto w-75">
    <div class="row justify-content-center p-3">
      <div class="border border-light-subtle" style="background-color: #fafafa; width: 98%;">
        <!-- Header -->
        <h2 class="my-4 text-center">
          Password Reset
        </h2>
        <!-- Authentication -->
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% else %}
          <!-- Main Content -->
          <div class="p-2">
            <small class="text-muted">
              Forgotten your password?
              <br>
              Enter your email address below, and we'll email you - allowing you to reset it.
            </small>
          </div>
          <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form |crispy }}
           <input type="submit" class="btn btn-primary" value="Reset My Password" />
          </form>
          <div class="p-2">
            <small class="text-muted">
              Please

              <a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                contact us
              </a>
              if you have any trouble resetting your password.
            </small>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}