{% extends "core/base.html" %}

{% load account %}

{% block content %}
  <div class="content">
    <!-- Header -->
    <h1 class="fw-bold text-light-emphasis">
      Password Reset
    </h1>
    <!-- Authentication -->
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% else %}
      <!-- Main Content -->
      <p class="text-light">
        We have emailed you.
        <br>
        If you have not received it, please check your spam folder, or try refreshing your mailbox.
        <br>
        Otherwise, if you won't receive the mail in the next few minutes,
        <a href="#" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
          contact us.
        </a>
      </p>
    {% endif %}
  </div>
{% endblock %}