{% extends "core/base.html" %}

{% load i18n %}

{% block content %}
  <div class="content">
    <!-- Header -->
    <h1 class="fw-bold text-light-emphasis">
      Password Reset
    </h1>
    <!-- Authentication -->
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <!-- Main Content -->
    <p class="text-light">
      Your password has now been successfully changed.
    </p>
    <a class="btn btn-light" href="{% url 'account_login' %}">
      Login
    </a>
  </div>
{% endblock %}