{% extends "core/base.html" %}

{% load crispy_forms_filters %}
{% load i18n %}

{% block content %}
  <div class="content card mx-auto w-75">
    <div class="row justify-content-center p-3">
      <div class="border border-light-subtle" style="background-color: #fafafa; width: 98%;">
        <!-- Header -->
        <h2 class="my-4 text-center">
          {% if token_fail %}
            {% trans "Bad Token" %}
          {% else %}
            {% trans "Change Password" %}
          {% endif %}
        </h2>
        <!-- Main Content -->
        {% if token_fail %}
          {% url 'account_reset_password' as passwd_reset_url %}
          <p>
            {% blocktrans %}
              The password reset link is invalid; possibly because it has already been used.
              <br>
              Please try
              <a href="{{ passwd_reset_url }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                resetting password again.
              </a>
            {% endblocktrans %}
          </p>
        {% else %}
          <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" name="action" class="btn btn-primary" value="{% trans 'Change Password' %}"/>
          </form>
          <br>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
