{% extends "account/profile_main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_js %}
  <script>
    const stocksSymbolsDataHtml = JSON.parse('{{ stocks_symbols_data | escapejs }}');
  </script>
  <script src="{% static 'js/update_stocks_symbols.js' %}"></script>
{% endblock %}

<!-- User profile navigation bar -->
{% block profile_investor %}
  <a href="{% url 'profile_investor' %}" class="nav-link active">
    Investor
  </a>
{% endblock %}
<!-- Main Content -->
{% block profile_content %}
  <div class="card px-5 py-2">
    <h1 style="font-size: 36px; text-align: center; font-weight: 800; padding: 10px 0;">
      Investor
    </h1>
    <hr>
    {% if is_form_filled %}
      {% crispy form %}
    {% else %}
      <a href="{% url 'capital_market_algorithm_preferences_form' %}" class="link-primary text-decoration-none">
        Please fill the form for more information
      </a>
      <br>
    {% endif %}
  </div>
{% endblock %}