[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
crispy-bootstrap5 = "*"
pytest-lazy-fixture = "*"
pytest-django = "*"
flake8 = "*"
django-allauth = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-django = "*"
django = "*"
django-pytest = "*"

[requires]
python_version = "3.9"
