{% extends "investment_portfolio/investments_main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block investments_history_link %}
  <a href="{% url 'my_investments_history' %}" class="nav-link active">
    Investments History
  </a>
{% endblock %}

{% block investments_content %}
  <!-- TODO: add data -->
  <div class="card px-5 py-2" style="background-color: rgb(255, 255, 255);">
    <h1 style="font-size: 36px; text-align: center; font-weight: 800; padding: 10px 0;">
      My Investments History
    </h1>
    <hr>
  </div>
{% endblock %}