{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_js %}
  <script src="{% static 'js/capitalMarketInvestmentPreferencesForm.js' %}"></script>
  <style>
    .htmx-indicator {
      opacity: 0;
      transition: opacity 500ms ease-in;
    }
  .htmx-request .htmx-indicator {
      opacity: 1;
    }
  .htmx-request.htmx-indicator {
      opacity: 1;
    }
  </style>
{% endblock %}

{% block content %}
<div class="content card mx-auto w-75">
  <div class="row justify-content-center p-3">
    <div class="border border-light-subtle" style="background-color: #fafafa; width: 98%;">
      <form hx-post="{% url 'capital_market_investment_preferences_form' %}" hx-replace-url="true" hx-indicator="#spinner">
        {% csrf_token %}
        {% crispy form %}
        <button type="submit" class="btn btn-primary">
          {% if is_update %}
            Update
          {% else %}
            Submit
          {% endif %}
        </button>
        <img style="width: 50px; height: 50px;" id="spinner" class="htmx-indicator" src="{% static 'img/spinner1.svg' %}">
      </form>
{#            {% endif %}#}
    </div>
  </div>
</div>
{% endblock %}