{% load static %}
<div class="watchlist-chosen-stock">
  {% if is_chosen_stock_template is True %}
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">
            Graph
          </th>
          <th scope="col">
            Image
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            Forecast Stock
          </th>
          <td>
            <img class="img-fluid" src="{% static forecast_stock_img_name %}" alt="Forecast Stock of {{ symbol }}" name="Forecast Stock of {{ symbol }}">
          </td>
        </tr>
        <tr>
          <th scope="row">
            Bollinger Bands Squeeze Strategy
          </th>
          <td>
            <img class="img-fluid" src="{% static bbs_strategy_img_name %}" alt="BBS Strategy Graph of {{ symbol }}" name="BBS Strategy Graph of {{ symbol }}">
          </td>
        </tr>
        <!-- More details -->
        {% if is_israeli_stock %}
          <tr>
            <th scope="row">
             <a href="{{ overview }}" class="iframe-link" target="_blank">
               Overview
             </a>
            </th>
            <td style="text-align: center;">
              <iframe src="{{ overview }}" width="100%" height="1000" frameborder="0"></iframe>
           </td>
          </tr>
          <tr>
            <th scope="row">
              <a href="{{ more_statistics }}" class="iframe-link" target="_blank">
                More Statistics
              </a>
            </th>
            <td style="text-align: center;">
              <iframe src="{{ more_statistics }}" width="100%" height="1000" frameborder="0"></iframe>
            </td>
          </tr>
          <tr>
            <th scope="row">
              <a href="{{ conversation }}" class="iframe-link" target="_blank">
                Conversation
              </a>
            </th>
            <td style="text-align: center;">
              <iframe src="{{ conversation }}" width="100%" height="1000" frameborder="0"></iframe>
            </td>
          </tr>
        {% else %}
          <tr>
            <th scope="row">
              <a href="{{ overview }}" class="iframe-link">
                Yahoo! Finance
              </a>
            </th>
            <td style="text-align: center;">
              <a href="{{ overview }}">
                For more details in Yahoo! Finance, click here
              </a>
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  {% endif %}
</div>

<script>
  function loadExternalSiteContent(url, targetId) {
    const targetElement = document.getElementById(targetId);
    fetch(url)
      .then(response => response.text())
      .then(html => {
        targetElement.innerHTML = html;
      })
      .catch(error => {
        console.error('Error loading external site content:', error);
      });
  }

  // Call the function to load the conversation content
  loadExternalSiteContent('{{ conversation }}', 'conversation-content');
</script>
