@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --page-height: 0;
}

* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background: url("../img/Background.png");
    background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	position: relative;
	margin: 0;
	box-sizing: inherit;
	display: flex;
	flex-direction: column;
	grid: auto / 1em 1fr 1em;
}

.elements-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

nav {
	position: relative;
	top: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .navigation a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 2px 15px;
	border-radius: 20px;
	transition: 0.3s;
	transition-property: background;
}

nav .navigation a:not(:last-child) {
	margin-right: 30px;
}

nav .navigation a:hover {
	background: rgb(255, 255, 255);
}

footer {
    background-color: #3dc4f0;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	color: rgb(255, 255, 255);
	padding-left: 100px;
    position: absolute;
    right: 0;
    left: 0;
    top: calc(var(--page-height));
}

footer .greeting {
    color: rgb(0, 0, 0);
	font-weight: 500;
	border-bottom: 2px solid #226A80;
}

svg {
    height: 50px;
    border-color: blue;
    background-color: yellow;
}

.content-generic {
    flex: 1;
}

.content {
    flex: 1;
	max-width: 800px;
	margin: 60px 100px;
}

.content-sidebar {
    width: 400px;
    margin: 60px 0px 0px 100px;
}

.team-members {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.team-members a {
	position: relative;
	color: #111;
	font-size: 25px;
	font-weight: 900;
	transition: 0.3s;
	transition-property: transform;
	text-align: center;
}

.team-members a:not(:last-child) {
	margin-right: 60px;
}

.team-members a:hover {
	transform: scale(1.1);
}

.team-members a p {
	justify-content: center;
	align-items: center;
	margin-left: none;
}

.team-members a img {
	justify-content: center;
	align-items: center;
    border-radius: 80px;
    height: 142px;
    width: 142px;
}

.asteriskField {
    display: none;
}

#capital-market-form {
    margin: 5px 20px;
}

.capital-market-form-label {
    font-weight: 800;
    font-size: 20px;
    background-color: rgb(230, 230, 230);
}

.capital-market-form-img {
    margin-top: 10px;
    border: none;
    padding: 0;
    width: 100%;
    transition: 0.3;
}

.capital-market-form-radio {
    border-bottom: solid 2px rgb(230, 230, 230);
}

.capital-market-form-radio div input {
    border: solid 2px rgb(100, 100, 100);
}

.capital-market-form-radio div label {
    font-weight: 600;
    color: rgb(50, 50, 50);
}

.capital-market-form-img img {
    width: 100%;
}

.horizontal-radio {
    justify-content: center;
}

#div_id_stocks_collection_number div .form-check , #div_id_ml_model div .form-check {
    display: inline-block;
    margin-right: 20px;
}

#div_id_start_date input {
    border-radius: 5px 0px 0px 5px;
}
#div_id_end_date input {
    border-radius: 0px 5px 5px 0px;
}
.margin-bottom {
    margin-bottom: 15px;
}

#div_id_answer_1 div div {
	margin-left: 106px;
}

#div_id_answer_2 .capital-market-form-radio {
	padding-left: 43px;
}

#div_id_answer_2 .capital-market-form-radio div {
	margin-left: 40px;
}

#div_id_answer_3 .capital-market-form-radio {
	padding-left: 60px;
}

#div_id_answer_3 .capital-market-form-radio div #id_answer_3_1 {
	margin-left: 40px;
	margin-right: 10px;
}

#div_id_answer_3 .capital-market-form-radio div #id_answer_3_2 {
	margin-left: 40px;
	margin-right: 10px;
}

.switch-img {
    width: 32px;
    height: 32px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, .6);
	transition: 0.3s;
	transition-property: background-color box-shadow;
}

.switch-img:hover {
    background-color: rgba(255, 255, 255, .9);
}

.switch-img:active {
	background-color: rgb(100, 100, 100);
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
	fill: white;
}

.disabled-button {
    width: 32px;
    height: 32px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, .6);
	transition: 0.3s;
	transition-property: background-color box-shadow;
    opacity: 0.5;
}

.carousel {
    border: 0px none;
    background: none;
    position: absolute;
}

.iframe-link {
    text-decoration: none;
	color: black;
    transition: 0.3s;
	display: inline;
}

.iframe-link:hover {
	color: rgb(50, 50, 250);
	border-bottom: 1px solid rgb(50, 50, 250);
}