<div id="investments-list">
  {% if investments %}
    <div class="bd-example m-0 border-0">
      <div class="list-group list-group-flush">
        {% for investment in investments %}
          <a class="list-group-item list-group-item-action {% if investment.status == 'ACTIVE' %} bg-success-subtle text-emphasis-success {% else %} bg-danger-subtle text-emphasis-danger {% endif %}">
            <div class="d-flex w-100 justify-content-between">
              <h4 class="mb-1">
                {{ investment.amount }}
              </h4>
              <small class="text-body-secondary">
                {{ investment.date|date:"F j, Y" }}
              </small>
            </div>
            <small>
              {{ investment.status }}
            </small>
          </a>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <h3>
      No results!
    </h3>
  {% endif %}
</div>
{% include 'investment/load_more_investments.html' %}