{% extends "user/profile_main.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!-- User profile navigation bar -->
{% block profile_investor %}
  <a href="{% url 'profile_investor' %}" class="nav-link active">
    Investor
  </a>
{% endblock %}
<!-- Main content -->
{% block profile_content %}
  <div class="card px-5 py-2">
    <h1 style="font-size: 36px; text-align: center; font-weight: 800; padding: 10px 0;">
      Update Account Investments Details
    </h1>
    <hr>
    {% crispy form %}
  </div>
{% endblock %}