{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content-section">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; margin-left: 80px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <span class="fs-4">{{ user.first_name }}'s Dashboard</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link link-body-emphasis">
              User
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              Investor
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-body-emphasis">
              Portfolio
            </a>
          </li>
        </ul>
      </div>
  </div>
{% endblock %}