{% extends "user/profile_main.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!-- User profile navigation bar -->
{% block profile_navbar %}
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="{% url 'profile_user' %}" class="nav-link link-body-emphasis">
        User
      </a>
    </li>
    <li>
      <a href="{% url 'profile_investor' %}" class="nav-link active">
        Investor
      </a>
    </li>
    <li>
      <a href="{% url 'profile_portfolio' %}" class="nav-link link-body-emphasis">
        Portfolio
      </a>
    </li>
  </ul>
{% endblock %}
<!-- Main content -->
{% block profile_content %}

{% endblock %}