{% extends "core/base.html" %}
{% load static %}

{% block content %}
  <div class="content">
    <div class="info">
      <h2>
        Robo Advisor <br>
        <span>
          Smart AI Investor!
        </span>
      </h2>
      <ul class="list-unstyled">
        <li>
          The website was developed within the fintech laboratory at the
          <u>Tel Aviv Jaffa Academic College</u>
          for <strong>research purposes</strong> only.
        </li>
        <li>
          The recommendations of the system should not be considered as the implementation of an action,
          but everyone must consult with a qualified advisor on behalf of the Securities Authority
        </li>
      </ul>
    </div>
  </div>
  <div class="team-members">
    {% for team_member in team_members %}
      <a>
        <p>
          {{ team_member.full_name }}
        </p>
        <img src="{% static team_member.img %}" alt="{{ team_member.alt }}">
      </a>
    {% endfor %}
  </div>
{% endblock %}
