{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
	<link rel="stylesheet" href="{% static 'style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
  </head>
  <body>
	<section>
		<header>
			<h2>
				<a href="" class="logo"><img src="{% static '/Logo.png' %}" alt="RoboAdviserLogo" height="256" width="205" /></img></a>
			</h2>
			<div class="navigation">
				<a href="{% url 'homepage' %}">Home</a>
				<a href="{% url 'about' %}">About</a>
				<a href="{% url 'info' %}">Info</a>
				<a href="{% url 'services' %}">Services</a>
				<a href="{% url 'form' %}">Form</a>
				<a href="{% url 'contact' %}">Contact</a>
			</div>
		</header>
		<div class="content">
			<div class="content">
				<form>
					<label>Question #1</label><br>
					<input type="radio" id="q1_a1" name="user_answer"><label for="q1_a1" class="">Option #1</label><br>
					<input type="radio" id="q1_a2" name="user_answer"><label for="q1_a2" class="">Option #2</label><br>
					<input type="radio" id="q1_a3" name="user_answer"><label for="q1_a3" class="">Option #3</label><br><br>
					<label>Question #2</label><br>
					<input type="radio" id="q2_a1" name="user_answer"><label for="q2_a1" class="">Option #1</label><br>
					<input type="radio" id="q2_a2" name="user_answer"><label for="q2_a2" class="">Option #2</label><br>
					<input type="radio" id="q2_a3" name="user_answer"><label for="q2_a3" class="">Option #3</label><br><br>
					<label>Question #3</label><br>
					<input type="radio" id="q3_a1" name="user_answer"><label for="q3_a1" class="">Option #1</label><br>
					<input type="radio" id="q3_a2" name="user_answer"><label for="q3_a2" class="">Option #2</label><br>
					<input type="radio" id="q3_a3" name="user_answer"><label for="q3_a3" class="">Option #3</label><br><br>

					<input type="submit" id="submit-form">
				</form>
			</div>
		</div>
	</section>
  </body>
</html>