{% extends "html/base.html" %}
{% block content %}
{% load static %}

<div class="content">
	<div class="info">
		<form>
			<label>Question #1</label><br>
			<input type="radio" id="q1_a1" name="user_answer"><label for="q1_a1" class="">Option #1</label><br>
			<input type="radio" id="q1_a2" name="user_answer"><label for="q1_a2" class="">Option #2</label><br>
			<input type="radio" id="q1_a3" name="user_answer"><label for="q1_a3" class="">Option #3</label><br><br>
			<label>Question #2</label><br>
			<input type="radio" id="q2_a1" name="user_answer"><label for="q2_a1" class="">Option #1</label><br>
			<input type="radio" id="q2_a2" name="user_answer"><label for="q2_a2" class="">Option #2</label><br>
			<input type="radio" id="q2_a3" name="user_answer"><label for="q2_a3" class="">Option #3</label><br><br>
			<label>Question #3</label><br>
			<input type="radio" id="q3_a1" name="user_answer"><label for="q3_a1" class="">Option #1</label><br>
			<input type="radio" id="q3_a2" name="user_answer"><label for="q3_a2" class="">Option #2</label><br>
			<input type="radio" id="q3_a3" name="user_answer"><label for="q3_a3" class="">Option #3</label><br><br>

			<input type="submit" id="submit-form">
		</form>
	</div>
</div>

{% endblock content %}