{% extends "html/base.html" %}
{% block content %}
{% load static %}

<div class="content">
	<div class="info">
		<h2>Robo Advisor <br><span>Smart AI Investor!</span></h2>
		<ul>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<Ut enim ad<br>
				minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit<br>
				in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia<br>
				deserunt mollit anim id est laborum.
			</p>
		</ul>
	</div>
</div>
<div class="team-members">
	<a>
		<p>Guy Beckenstein</p>
		<img src="{% static 'img/GuyBeckenstein.jpg' %}" alt="GuyBeckenstein" />
	</a>
	<a>
		<p>Yarden Agami</p>
		<img src="{% static 'img/YardenAgami.jpg' %}" alt="YardenAgami" />
	</a>
	<a>
		<p>Hagai Levy</p>
		<img src="{% static 'img/HagaiLevy.jpg' %}" alt="HagaiLevy" />
	</a>
	<a>
		<p>Yarden Gazit</p>
		<img src="{% static 'img/YardenGazit.jpg' %}" alt="YardenGazit" />
	</a>
</div>

{% endblock content %}
