{% extends "account/profile_main.html" %}
{% load static %}
{% load crispy_forms_tags %}

<!-- User profile navigation bar -->
{% block profile_portfolio %}
  <a href="{% url 'profile_portfolio' %}" class="nav-link active">
    Portfolio
  </a>
{% endblock %}
<!-- Main content -->
{% block profile_content %}
  <div class="card px-5 py-2" style="background-color: rgb(255, 255, 255);">
    <h1 style="font-size: 36px; text-align: center; font-weight: 800; padding: 10px 0;">
      Portfolio
    </h1>
    <hr>
    {% if is_form_filled %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Graph</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Sectors Component</th>
            <td>
              <img src="{% static 'img/user/' %}{{ user.id }}/sectors_component.png" alt="Sectors Component">
            </td>
          </tr>
          <tr>
            <th scope="row">Stocks Component</th>
            <td>
              <img src="{% static 'img/user/' %}{{ user.id }}/stocks_component.png" alt="Stocks Component">
            </td>
          </tr>
          <tr>
            <th scope="row">Yield</th>
            <td>
              <img src="{% static 'img/user/' %}{{ user.id }}/yield_graph.png" alt="Yield">
            </td>
          </tr>
        </tbody>
      </table>
    {% else %}
      <a href="{% url 'capital_market_algorithm_preferences_form' %}" class="link-primary text-decoration-none">
        Please fill the form for more information
      </a>
      <br>
    {% endif %}
  </div>
{% endblock %}