{% extends "form/base.html" %}
{% block content %}
{% load static %}

<div class="content">
    <div class="'info">
        <article>
            <img src="{{ object.author.profile.image.url }}" />
            <div>
                <div>
                    <a href="#">{{ object.author }}</a>
                    <small>{{ object.date_posted|date:"F d, Y" }}</small>
                    {% if object.author == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'feedback-update' object.id %}">Update</a>
                        <a class="btn danger btn-sm mt-1 mb-1" href="{% url 'feedback-delete' object.id %}">Delete</a>
                        </div>
                    {% endif %}
                </div>
                <h2>{{ object.title }}</h2>
                <p>{{ object.content }}</p>
            </div>
        </article>
    </div>
</div>

{% endblock content %}