{% extends "html/base.html" %}
{% block content %}
{% load static %}

<div class="content">
    <div class="'info">
        <a class="nav-item nav-link" href="{% url 'feedback-create' %}">New Feedback</a>
        {% for feedback in feedbacks %}
            <article>
                <img src="{{ post.author.profile.image.url }}" />
                <div>
                    <div>
                        <a href="{% url 'user-feedbacks' feedback.author.username %}">{{ feedback.author }}</a>
                        <small>{{ feedback.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <h2><a href="{% url 'feedback-detail' feedback.id %}">{{ feedback.title }}</a></h2>
                    <p>{{ feedback.content }}</p>
                </div>
            </article>
        {% endfor %}
        {% for page_number in page_obj.paginator.page_range %}
            {% if page_number == page_obj.number %}
                <a class="btn btn-info mb-4">{{ page_number }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_number }}">{{page_number}}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock content %}