{% extends "form/base.html" %}
{% block content %}
{% load static %}

<div class="content">
    <div class="'info">
        <h1>מודל ייחודי  לבניית תיק השקעות הכולל אגרות חוב ומניות המותאם באופן אישי לרמת סיכון של הלקוח , בנוסף פיתוח אלגוריתמי ייחודי לזיהוי מניות "חמות" תוך שימוש במודלים של למידת מכונה  יחודיים המבצעים ניתוחים פיננסיים, סטטיסטיים והתנהגותיים.

ללקוח אפשרויות רבות, החל מהתאמת תיק השקעות "מוכן" לפי צרכיו ועד לניתוח מעמיק בעבור מניות ספציפיות שרלוונטיות עבורו.</h1>
    </div>
</div>

{% endblock content %}