{% extends "form/base.html" %}
{% block content %}
{% load static %}

<div class="content">
	<div class="info">
		<form id="myForm">
			<label>For how many years do you want to invest?</label><br>
			<input type="radio" id="q1_a1" name="user_answer_1"><label for="q1_a1" class="">0-1</label><br>
			<input type="radio" id="q1_a2" name="user_answer_1"><label for="q1_a2" class="">1-3</label><br>
			<input type="radio" id="q1_a3" name="user_answer_1"><label for="q1_a3" class="">3-100</label><br><br>
			<label>Which distribution do you prefer?</label><br>
			<input type="radio" id="q2_a1" name="user_answer_2"><label for="q2_a1" class="">low risk</label><br>
			<input type="radio" id="q2_a2" name="user_answer_2"><label for="q2_a2" class="">medium risk</label><br>
			<input type="radio" id="q2_a3" name="user_answer_2"><label for="q2_a3" class="">high risk</label><br><br>
			<label>Which graph do you prefer?</label><br>
			<input type="radio" id="q3_a1" name="user_answer_3"><label for="q3_a1" class="">saftest</label><br>
			<input type="radio" id="q3_a2" name="user_answer_3"><label for="q3_a2" class="">sharpest</label><br>
			<input type="radio" id="q3_a3" name="user_answer_3"><label for="q3_a3" class="">max return</label><br><br>

			<input type="submit" id="submit-form">
		</form>
	</div>
</div>

{% endblock content %}