{% extends 'core/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="content card mx-auto w-75">
    <div class="row justify-content-center p-3">
      <div class="border border-light-subtle" style="background-color: #fafafa; width: 98%;">
        <form id="login-form" action="{% url 'account_login' %}" method="post">
          <!-- Header -->
          <h2 class="my-4 text-center">
            Login
          </h2>
          <!-- Main Content -->
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn btn-primary">
            Login
          </button>
          <div class="p-2">
            <small class="text-muted">
              <a href="{% url 'account_reset_password' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                Forgot Password?
              </a>
            </small>
          </div>
          <div class="p-2">
            <small class="text-muted">
              Don't have an account?
              <a href="{% url 'signup' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                Sign up here
              </a>
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
